@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap);

:root {
  --fonts-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --fonts-chameleon-primary: 'Roboto', var(--fonts-system);
  --fonts-chameleon-secondary: 'Inter', var(--fonts-system);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fonts-chameleon-primary);
}

body {
  margin: 0;
  font-family: var(--fonts-chameleon-secondary);
}

form {
  input {
    font-family: var(--fonts-chameleon-secondary);
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
    transition: 100ms;
  }

  input.err {
    border-color: red;
  }
}

.blurred {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.toast {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}

.toast.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

main {
  margin-left: 5rem;
  padding: 1rem;
  transition: 200ms;
}
