@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

div.sidenav {
  height: 100%; 
    width: 0; 
position: fixed; 
z-index: 1; 
top: 0; 
left: 0;
background-color: #111; 
overflow-x: hidden; 
padding-top: 60px; 
transition: 0.2s;

  .items {
    a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.2s;
    }

    .item {
      span {
        //color: var(--icon);
        color: black;
        float: left;
      }

      a:hover {
        color: #f1f1f1;
      }
    }
  }

  .items.hiding {
    .item a {
      display: none;
    }
  }

  .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
}

.toast {
  visibility: hidden; 
  min-width: 250px; 
  margin-left: -125px; 
  background-color: #333; 
  color: #fff; 
  text-align: center;
  border-radius: 2px; 
  padding: 16px; 
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}

.toast.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.hidden {
  display: none;
}


  main {
    transition: margin-left .5s;
    padding: 20px;
    }
